body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(228, 227, 227);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 90%;
    max-width: 31.25em;
    background: white;
    padding: 1.25rem;
    border-radius: 0 0 10px black;
    text-align: center;
    box-shadow: 0 0 6 18px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

button {
    padding: 0.625 1.25rem;
    background-color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

div#quoteContainer{
    background-color: white;
    padding: 0.62;
    border-radius: 0.3125rem;
    border: none;
    text-align: center;
    font-weight: bold;
}

button:hover {
    background-color: aliceblue;
    text-decoration: underline;
}

